html {
    background-color: #0d0d0d;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: local(""),
    url("assets/fonts/inter-variable-latin.woff2") format("woff2");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: local(""),
    url("assets/fonts/oswald-variable-latin.woff2") format("woff2");
}

#app {
    height: 100vh;
}
